In [59]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

In [6]:
car=pd.read_csv("quikr_car.csv")   #saving the dataset

In [7]:
car.head()   #to get the starting elements of dataset

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [8]:
car.shape   #to get the r and c of dataset

(892, 6)

In [9]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [10]:
car["Price"].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [11]:
car["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

# Clean the Code
-make year as integer value
-price to integer
-remove other values than integer
-km to integer
-remove nan from each
-name is so much big

In [12]:
backup=car.copy()

In [14]:
car=car[car["year"].str.isnumeric()]    #save the value if it is numeric

In [15]:
car['year']=car["year"].astype(int) #it convert all the string or object to integer datatype and now store it

In [16]:
car=car[car['Price']!="Ask For Price"]     #remove other value thode are not number

In [17]:
car['Price']=car['Price'].str.replace(",","").astype(int)   #remove "," and convert to integer

In [18]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [19]:
car['kms_driven']=car["kms_driven"].str.split(" ").str.get(0).str.replace(",","")  #remove kms and ","

In [20]:
car=car[car['kms_driven'].str.isnumeric()]

In [21]:
car['kms_driven']=car['kms_driven'].astype(int)

In [22]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [23]:
car=car[~car['fuel_type'].isna()]

In [24]:
car['name']=car['name'].str.split().str.slice(0,3).str.join(' ')

In [25]:
car=car.reset_index(drop=True)

In [26]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [27]:
car.describe(include="all")

,name,company,year,Price,kms_driven,fuel_type
count,816,816,816.000000,8.160000e+02,816.000000,816
unique,254,25,NaN,NaN,NaN,3
top,Maruti Suzuki Swift,Maruti,NaN,NaN,NaN,Petrol
freq,51,221,NaN,NaN,NaN,428
mean,NaN,NaN,2012.444853,4.117176e+05,46275.531863,NaN
std,NaN,NaN,4.002992,4.751844e+05,34297.428044,NaN
min,NaN,NaN,1995.000000,3.000000e+04,0.000000,NaN
25%,NaN,NaN,2010.000000,1.750000e+05,27000.000000,NaN
50%,NaN,NaN,2013.000000,2.999990e+05,41000.000000,NaN
75%,NaN,NaN,2015.000000,4.912500e+05,56818.500000,NaN
max,NaN,NaN,2019.000000,8.500003e+06,400000.000000,NaN

In [28]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [29]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
2           Hyundai Grand i10
3      Ford EcoSport Titanium
4                   Ford Figo
                ...
810        Maruti Suzuki Ritz
811            Tata Indica V2
812      Toyota Corolla Altis
813              Tata Zest XM
814        Mahindra Quanto C8
Name: name, Length: 815, dtype: object

In [30]:
car.to_csv("Final dataset.csv")

MODEL

In [31]:
X=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [32]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [33]:
y.shape

(815,)

Applying train split

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
import numpy as np

In [40]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [41]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                     remainder='passthrough') #ohe is used to conver value in catogorical values and raminedr to remove or not consider other coloumn and we can use simple imputer function to remove nan values

In [42]:
lr=LinearRegression()

In [43]:
pipe=make_pipeline(column_trans,lr)

In [44]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [45]:
y_pred=pipe.predict(X_test)

In [46]:
y_pred

array([ 1.62428754e+05, -7.15383018e+04,  1.74567975e+05, -3.23554121e+03,
        7.77474973e+04,  2.97318289e+05,  2.52571329e+05,  2.80449000e+05,
        3.64387538e+05,  4.47137054e+05,  7.19521527e+05,  3.11424050e+05,
        4.39863056e+05,  3.57057316e+05,  3.69626557e+05,  2.29171190e+05,
        3.93089216e+05,  3.93089216e+05,  6.33344530e+05,  4.69291117e+05,
        4.52926099e+05,  2.74196310e+04,  4.74753259e+05,  2.49598920e+05,
        6.50517284e+05,  5.19282451e+05,  3.17601790e+05,  4.28458867e+05,
        2.07335368e+05,  3.32366713e+05,  1.39576344e+05,  5.06764791e+05,
        4.23387201e+05,  3.81891703e+05,  5.11249528e+05,  2.15748239e+06,
        6.28191726e+05,  1.83450846e+06, -1.08384391e+05, -2.67378905e+05,
        3.75503776e+05,  1.05872448e+06,  2.72659431e+05,  5.64687618e+04,
        6.17809944e+05,  1.83153804e+04,  3.73040097e+05,  3.22609904e+05,
        6.67731418e+05,  1.67603134e+05,  4.83965867e+05,  1.47244695e+05,
        4.34206024e+05,  3.49717433e+05,  2.19300861e+05,  7.77474973e+04,
        6.40943648e+05,  1.24909627e+04,  5.85944031e+05,  3.90266574e+05,
        1.21905430e+05,  2.76845451e+05,  2.00352482e+05,  1.34108773e+05,
        9.51749546e+05,  1.92472090e+05,  3.65454747e+05, -1.24621468e+05,
        3.16628659e+05,  2.62557695e+05,  2.70382785e+05,  4.60498874e+05,
        2.66476890e+04, -4.50398028e+03,  2.92863715e+05,  5.95150032e+05,
        3.85053835e+05,  3.37650823e+05,  4.09361460e+05,  2.77279137e+05,
        2.30051279e+05,  1.90542445e+05,  3.90808087e+05,  4.20237939e+04,
        3.02618810e+05,  3.34514249e+05,  5.94793014e+05,  5.74406401e+05,
        6.58242719e+05,  1.99946263e+05,  4.50710086e+05,  7.31762900e+04,
        5.28291532e+05, -7.95984635e+02,  5.13936963e+05, -1.99939262e+05,
        3.21667842e+05,  8.63212329e+05,  6.29573211e+05,  1.46785797e+05,
        4.36861753e+05,  6.60006994e+05,  3.38904991e+05,  3.50983713e+05,
        4.39473672e+05,  5.00848434e+05,  2.86421782e+05,  4.83764851e+03,
        5.82870375e+05,  5.92530190e+04,  4.52926099e+05,  2.90645661e+05,
        6.93350974e+05,  4.87086450e+05,  1.02656559e+05,  1.16818863e+05,
        4.15615135e+05,  5.51142487e+04,  3.50778564e+05,  5.66264624e+05,
        3.57578045e+04,  1.16480528e+05,  3.17346905e+05,  7.15966500e+05,
       -6.05341661e+04,  2.57068892e+05,  1.78208355e+05,  4.26256403e+05,
        5.82878294e+05,  7.04490350e+05,  7.10613875e+05,  3.74592906e+05,
        1.71688857e+06,  1.16818863e+05, -1.35188715e+04,  1.93709860e+05,
        6.83544489e+05,  5.29492976e+05,  2.90878879e+05,  4.28929147e+05,
        3.45809379e+05,  4.01920451e+05,  3.68551010e+05,  6.93350974e+05,
        3.49607579e+05,  2.43390657e+05,  6.41878862e+05,  2.51184739e+05,
        1.40309687e+05,  2.15748239e+06,  2.28410620e+05,  4.32818589e+05,
        4.94292257e+05,  3.50778564e+05,  3.49068554e+05,  6.29573211e+05,
        2.90190971e+05,  3.15913004e+05,  6.46547799e+04,  1.68757959e+06,
        1.74567975e+05,  2.95123553e+05,  3.18195127e+05])

In [47]:
r2_score(y_test,y_pred)

0.602370352390541

In [50]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    
    scores.append(r2_score(y_test,y_pred))

In [49]:
np.argmax(scores)

302

In [51]:
scores[np.argmax(scores)]

0.8991116065992623

In [52]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Ritz','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([478439.86984245])

In [53]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8991116065992623

In [54]:
import pickle

In [55]:
pickle.dump(pipe,open("LinearRegression.pkl","wb"))

In [56]:
pipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([456822.45072909])

In [60]:
pipe.steps[0][1].transformers[0][1].categories[0]